
html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#message-input {
    height: 200px;
    width: 200px;
    text-align: left;
    resize: none;
    overflow: auto;
}

#userName {
    width: 200px;
}

#another-user-writing-notifiaction {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out;
}

.hidden {
    opacity: 0 !important;
    visibility: hidden !important;
}

