<div class="container">
        <div class="msg-header">
            <div class="container1">

                <!--<img src="user1.png" class="msgimg">-->
                <div class="active">
                    <p>User name</p>
                </div>
            </div>
        </div>

        <div class="chat-page">
            <div class="msg-inbox">
                <div class="chats">
                    <div class="msg-page" id="msg-page">
                        
                    </div>
                </div>

                <div class="msg-bottom">

                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Write message..." id="message-input" oninput="notifyUserWritingMessage()">
                        <div class="input-group-append ">
                            <span class="input-group-text send-icon ">
                                <button class="send-message-button" onclick="send()" id="send-button" >
                                    Send
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>