@using SignalRChatApp.Models;
@model IEnumerable<ChatMessage>

<div>
	<p id="another-user-writing-notifiaction" class="hidden">
		wait a second, someone is writing (it might be important :))
	</p>
</div>
<partial name="_PartialChatInterface" />
