@using SignalRChatApp.Models;
@model IEnumerable<ChatMessage>

<div>
	<p id="another-user-writing-notifiaction" class="hidden">
		wait a second, someone is writing (it might be important :))
	</p>
</div>

<label for="chat-rooms">Choose your chat room:</label>
 <select name="chat-rooms" id="chat-rooms">
	<option value="1" selected>Ogólny</option>
	<option value="2">Techniczne pogadanki</option>
  </select>

<partial name="_PartialChatInterface" />
