@using SignalRChatApp.Models;
@model IEnumerable<ChatMessage>

<h1>TEST</h1>


<div>
	<p id="another-user-writing-notifiaction" class="hidden">
		wait a second, someone is writing (it might be important :))
	</p>
</div>

<ul id="messages-list">
	@foreach(var elem in Model)
	{
		<li>@elem.userName: @elem.message</li>
	}
</ul>

<form>
	<p>User Name:</p>
	<input type="text" id="userName"/>

	<p>Message:</p>
	<textarea id="message-input" oninput="notifyUserWritingMessage()">
	</textarea>
</form>
<p>
<button onclick="send()" id="send-button">Send</button>
</p>
