@using SignalRChatApp.Models;
@model IEnumerable<ChatMessage>

<h1>TEST</h1>

<ul id="messages-list">
	@foreach(var elem in Model)
	{
		<li>@elem.userName: @elem.message</li>
	}
</ul>


<p>User Name:</p>
<input type="text" id="userName"/>

<p>Message:</p>
<input type="text" id="message-input"/>

<p>
<button onclick="send()">+</button>
</p>
